/*------- Базовые стили для всех страниц -------*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.nunito-<uniquifier> {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

* {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-style: normal;
}

html, body{
    padding: 0px;
    margin: 0px;
}


.main{
    height: 100vh;
    width: 100vw;
    background-color: #202b39;
    display: grid:
    grid-template-columns: 100%;
    z-index: -100;
}

.content{
    width: 96vw;
    padding: 0 2vw;
    padding-top: 0.5vh;
    height: 91.5vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.slider{
    background-color: #2e3b4b;
    min-height: 8vh;
}

.sections{
    height: calc(100% - 1.4vh);
    width: calc(100% - 4vw);
    padding: 0.7vh 2vw;
    display: grid;
    grid-template-columns: 33% 34% 33%;
}

.section{
    display: grid;
    grid-template-columns: 100%;
    align-content: center;
    justify-items: center;
    color: #aec0d6;
    height: 100%;
}

.active{
    color: #3281dc;
}

.span-sec{
    font-size: 1.7vh;
}

.section > i{
    font-size: 3.5vh;
}

.sections > a{
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
}

#case_name{
    text-align: center;
    color: #cddbeb;
    margin: 2vh 0;
    font-size: 3vh;
    font-weight: 700;
}

.case{
    width: 100%;
    height: 25vh;
    margin: 1vh 0;
}

.window{
    width: calc(100% - 1vw);
    height: 100%;
    border-radius: 6vw;
    border: 0.5vw solid #3281dc;
    display: flex;
    overflow: hidden;
}

#open_case{
    width: calc(100% - 4vw);
    height: 6vh;
    margin: 1vh 2vw;
    background-color: #3281dc;
    color: white;
    font-size: 2vh;
    border: none;
    border-radius: 3vw;
    margin-bottom: 4vh;
}


.line{
    position: absolute;
    height: 25vh;
    width: 0.5vw;
    background-color: #3281dc;
    left: calc(50vw - 0.25vw);
    z-index: 100;
}

#for-items{
    text-align: start;
    color: #cddbeb;
    margin: 2vh 0;
    font-size: 2vh;
    font-weight: 700;
    margin: 0 2vw;
}

.slide{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    position: relative;
    left: -12vw;
}

.card {
    background-color: #2e3b4b;
    border-radius: 3vw;
    margin: 1vh 2vw;
    height: calc(100% - 2vh);
    width: 35vw;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 3vw;
    display: block;
}

.slow-move{
    transition: all 7s cubic-bezier(0.2, 0, 0.58, 1);
}

.fast-move{
    transition: none;
}

.list-items{
    display: flex;
    flex-direction: row;
    height: 25vh;
    width: 100%;
    overflow-x: scroll;
}


.modal{
    position: fixed;
    border-radius: 3vw;
    background-color: rgba(255, 255, 255, 0.15);
    -webkit-backdrop-filter: blur(80px);
    backdrop-filter: blur(80px);
    padding: 1vh 2vw;
    width: 80vw;
    height: 60vh;
    margin: 19vh 9vw;
    z-index: 10000;
    position: fixed;
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    transform: scale(0.5);
    transition: transform 0.3s ease;
    box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.4);
}

.modal.active {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}

.modal > .img{
    width: 100%;
    height: 35vh;
    display: flex;
    aspect-ratio: 1 / 1;
    justify-content: center;
}

.modal > .img > img{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

#get_gift{
    width: calc(100% - 4vw);
    height: 6vh;
    margin: 1vh 2vw;
    background-color: #3281dc;
    color: white;
    font-size: 2vh;
    border: none;
    border-radius: 3vw;
}

#close{
    width: calc(100% - 4vw);
    height: 6vh;
    margin: 0 2vw;
    background-color: inherit;
    color: #cc3623;
    font-size: 2vh;
    border: 4px solid #cc3623;
    border-radius: 3vw;
}

.gift-img{
    width: 100%;
    display: flex;
    grid-template-columns: 100%;
    justify-items: center;
    justify-content: center;
}

.gimg{
    aspect-ratio: 1 / 1;
    justify-content: center;
}


h2.name{
    text-align: center;
    color: #cddbeb;
    margin: 0;
    font-size: 2vh;
    font-weight: 500;
}


.price{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.starr{
    height: 2vh;

}

.pc{
    display: flex;
    flex-direction: row;
}

.ct > h2{
    text-align: center;
    color: #cddbeb;
    margin: 0;
    margin-top: 0.5vh;
    font-size: 1.5vh;
    font-weight: 500;
}

.starss{
    display: flex;
    align-items: center;
    margin-right: 1vw;
}

.ct{
    display: flex;
    align-items: center;
}


.price{
    display: flex;
    align-items: center;
}

.holder{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.holder > .count > h2{
    color: #cddbeb;
    font-size: 3vh;
    margin: 0;
    margin-top: 0.5vh;
}

.holder > .stars{
    height: 3vh;
}

.holder > .stars > img{
    height: 100%;
}
