/*------- Базовые стили для всех страниц -------*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.nunito-<uniquifier> {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

* {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-style: normal;
}

*::-webkit-scrollbar {
    display: none;
}

html, body{
    padding: 0px;
    margin: 0px;
}

/* ------- Стили для страницы загрузки ------*/

@keyframes ldio-yzaezf3dcmj-o {
    0%    { opacity: 1; transform: translate(0 0) }
    49.99% { opacity: 1; transform: translate(80px,0) }
    50%    { opacity: 0; transform: translate(80px,0) }
    100%    { opacity: 0; transform: translate(0,0) }
}
@keyframes ldio-yzaezf3dcmj {
    0% { transform: translate(0,0) }
    50% { transform: translate(80px,0) }
    100% { transform: translate(0,0) }
}
.ldio-yzaezf3dcmj div {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    top: 60px;
    left: 20px;
}
.ldio-yzaezf3dcmj div:nth-child(1) {
    background: #e90c59;
    animation: ldio-yzaezf3dcmj 2.127659574468085s linear infinite;
    animation-delay: -1.0638297872340425s;
}
.ldio-yzaezf3dcmj div:nth-child(2) {
    background: #46dff0;
    animation: ldio-yzaezf3dcmj 2.127659574468085s linear infinite;
    animation-delay: 0s;
}
.ldio-yzaezf3dcmj div:nth-child(3) {
    background: #e90c59;
    animation: ldio-yzaezf3dcmj-o 2.127659574468085s linear infinite;
    animation-delay: -1.0638297872340425s;
}
.loadingio-spinner-dual-ball-2by998twmg8 {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: inherit;
}
.ldio-yzaezf3dcmj {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-yzaezf3dcmj div { box-sizing: content-box; }

.loading-wrapper{
    height: 100vh;
    width: 100vw;
    background-color: #202b39;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------- Стили для страницы профиля ------*/
.main{
    height: 100vh;
    width: 100vw;
    background-color: #202b39;
    display: grid;
    grid-template-columns: 100%;
    z-index: -100;
}

.content{
    width: 96vw;
    padding: 0 2vw;
    padding-top: 0.5vh;
    height: 91.5vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.slider{
    background-color: #2e3b4b;
    min-height: 8vh;
}

.sections{
    height: calc(100% - 1.4vh);
    width: calc(100% - 4vw);
    padding: 0.7vh 2vw;
    display: grid;
    grid-template-columns: 33% 34% 33%;
}

.section{
    display: grid;
    grid-template-columns: 100%;
    align-content: center;
    justify-items: center;
    color: #aec0d6;
    height: 100%;
}

.active{
    color: #3281dc;
}

.span-sec{
    font-size: 1.7vh;
}

.section > i{
    font-size: 3.5vh;
}

.sections > a{
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
}

.modal{
    position: fixed;
    border-radius: 3vw;
    background-color: rgba(255, 255, 255, 0.15);
    -webkit-backdrop-filter: blur(80px);
    backdrop-filter: blur(80px);
    padding: 1vh 2vw;
    width: 80vw;
    height: 60vh;
    margin: 19vh 9vw;
    z-index: 10000;
    position: fixed;
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    transform: scale(0.5);
    transition: transform 0.3s ease;
    box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.4);
}

.modal.active {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}

.modal > .img{
    width: 100%;
    height: 30vh;
    display: flex;
    aspect-ratio: 1 / 1;
    justify-content: center;
}

.modal > .img > img{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

#get_gift{
    width: calc(100% - 4vw);
    height: 6vh;
    margin: 1vh 2vw;
    background-color: #3281dc;
    color: white;
    font-size: 2vh;
    border: none;
    border-radius: 3vw;
}

#close{
    width: calc(100% - 4vw);
    height: 6vh;
    margin: 0 2vw;
    background-color: inherit;
    color: #cc3623;
    font-size: 2vh;
    border: 4px solid #cc3623;
    border-radius: 3vw;
}

#sell_gift{
    width: calc(100% - 4vw);
    height: 6vh;
    margin: 1vh 2vw;
    background-color: #4ABD33;
    color: white;
    font-size: 2vh;
    border: none;
    border-radius: 3vw;
}

.holder{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.holder > .count > h2{
    color: #cddbeb;
    font-size: 3vh;
    margin: 0;
    margin-top: 0.5vh;
}

.holder > .stars{
    height: 3vh;
}

.holder > .stars > img{
    height: 100%;
}

/* ------- Стили страницы ------*/

.profile{
    width: 100%;
    min-height: 25vh;
    padding-top: 5vh;
}

.user-pic{
    width: 100%;
    height: 18vh;
    display: flex;
    justify-content: center;
}

.upic{
    width: 18vh;
    border: 3px solid #3281dc;
    border-radius: 100%;
    overflow: hidden;
}

.profile > h1{
    text-align: center;
    color: #cddbeb;
    margin: 0;
    margin-top: 2vh;
    font-size: 3vh;
    font-weight: 700;
}

.user-balance{
    width: calc(100% - 10vw);
    height: 10vh;
    padding: 1vh 5vw;
}

.bal-card{
    background-color: #2e3b4b;
    border-radius: 3vw;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
}

.main-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

#main_button{
    background-color: #3281dc;
    border-radius: 3vw;
    color: #cddbeb;
    width: 90%;
    height: 90%;
    font-size: 6vh;
    border: none;
}

.b-star{
    height: 60%;
}

.star{
    height: 100%;
    padding-left: 3%;
    display: flex;
    align-items: center;
}

.balance{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.count{
    padding-left: 2vw;
    width: calc(100% - 2vw);
    height: 100%;
    overflow-x: scroll;
}

::-webkit-scrollbar{
    display: none;
}

.count > h1{
    text-align: left;
    color: #cddbeb;
    margin: 0;
    margin-top: 2vh;
    font-size: 5vh;
    font-weight: 700;
    white-space: nowrap;
}

.user-tasks{
    display: grid;
    grid-template-columns: 100%;
}

.quests_h{
    text-align: left;
    color: #cddbeb;
    margin: 0;
    margin-top: 1.5vh;
    font-size: 2.5vh;
    font-weight: 700;
}

.quest{
    background-color: #2e3b4b;
    border-radius: 3vw;
    height: 8vh;
    padding: 0.5vh 1vw;
    margin: 2vh 2vw;
    width: calc(100% - 6vw);
    display: grid;
    grid-template-columns: 80% 20%;
}

.info{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
}

.task > h2{
    text-align: left;
    color: #cddbeb;
    margin: 0;
    margin-top: 0.5vh;
    font-size: 1.5vh;
    font-weight: 500;
    position: relative;
    left: 2vw;
}

.progress-bar{
    display: grid;
    grid-template-columns: 15% 85%;
}

.progress > h2{
    text-align: center;
    color: #cddbeb;
    margin: 0;
    margin-top: 0.7vh;
    font-size: 1vh;
    font-weight: 500;
}

.barplace{
    width: 100%;
    height: 100%;
}

.bar{
    background-color: #3281dc;
    height: 1vh;
    margin-top: 0.8vh;
    border-radius: 3px;
}

.prog5 {
    width: 5%;
}

.prog10 {
    width: 10%;
}

.prog15 {
    width: 15%;
}

.prog20 {
    width: 20%;
}

.prog25 {
    width: 25%;
}

.prog30 {
    width: 30%;
}

.prog35 {
    width: 35%;
}

.prog40 {
    width: 40%;
}

.prog45 {
    width: 45%;
}

.prog50 {
    width: 50%;
}

.prog55 {
    width: 55%;
}

.prog60 {
    width: 60%;
}

.prog65 {
    width: 65%;
}

.prog70 {
    width: 70%;
}

.prog75 {
    width: 75%;
}

.prog80 {
    width: 80%;
}

.prog85 {
    width: 85%;
}

.prog90 {
    width: 90%;
}

.prog95 {
    width: 95%;
}

.prog100 {
    width: 100%;
}

.prog4 {
    width: 4%;
}

.prog8 {
    width: 8%;
}

.prog12 {
    width: 12%;
}

.prog16 {
    width: 16%;
}

.prog24 {
    width: 24%;
}

.prog28 {
    width: 28%;
}

.prog32 {
    width: 32%;
}

.prog36 {
    width: 36%;
}

.prog44 {
    width: 44%;
}

.prog48 {
    width: 48%;
}

.prog52 {
    width: 52%;
}

.prog56 {
    width: 56%;
}

.prog64 {
    width: 64%;
}

.prog68 {
    width: 68%;
}

.prog72 {
    width: 72%;
}

.prog76 {
    width: 76%;
}

.prog84 {
    width: 84%;
}

.prog88 {
    width: 88%;
}

.prog92 {
    width: 92%;
}

.prog96 {
    width: 96%;
}

.reward{
    padding-left: 2vw;
    width: calc(100% - 2vw);
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    background-color: #3281dc;
    border-radius: 3vw;
}

.cnt > h2{
    text-align: center;
    color: #cddbeb;
    margin: 0;
    font-size: 2vh;
    font-weight: 500;
}

.card-list{
    padding: 0 1vw;
    width: calc(100% - 2vw);
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
}

.card{
    background-color: #2e3b4b;
    border-radius: 3vw;
    margin: 1vh 2vw;
    height: 25vh;
    width: 40vw;
    flex-shrink: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.gift-img{
    width: 100%;
    display: flex;
    grid-template-columns: 100%;
    justify-items: center;
    justify-content: center;
}

.gimg{
    height: 17vh;
}

h2.name{
    text-align: center;
    color: #cddbeb;
    margin: 0;
    font-size: 2vh;
    font-weight: 500;
}

.price{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.starr{
    height: 2vh;
}

.pc{
    display: flex;
    flex-direction: row;
}

.ct > h2{
    text-align: center;
    color: #cddbeb;
    margin: 0;
    margin-top: 0.5vh;
    font-size: 1.5vh;
    font-weight: 500;
}

.starss{
    display: flex;
    align-items: center;
    margin-right: 1vw;
}

.ct{
    display: flex;
    align-items: center;
}



.gift-img{
    width: 100%;
    display: flex;
    grid-template-columns: 100%;
    justify-items: center;
    justify-content: center;
}

.gimg{
    aspect-ratio: 1 / 1;
    justify-content: center;
}

h2.name{
    text-align: center;
    color: #cddbeb;
    margin: 0;
    font-size: 2vh;
    font-weight: 500;
}

.price{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.starr{
    height: 2vh;
}

.pc{
    display: flex;
    flex-direction: row;
}

.ct > h2{
    text-align: center;
    color: #cddbeb;
    margin: 0;
    margin-top: 0.5vh;
    font-size: 1.5vh;
    font-weight: 500;
}

.starss{
    display: flex;
    align-items: center;
    margin-right: 1vw;
}

.ct{
    display: flex;
    align-items: center;
}

.price{
    display: flex;
    align-items: center;
}



.sub-block > h1{
    margin: 0;
    color: #cddbeb;
    font-size: 2vh;
}

.sub-block{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sub-block > a{
    color: #3281dc;
    font-size: 2vh;
    margin-left: 1vw;
}

.sub-block{
    position: relative;
    left: 2vw;
}

.starrs{
    aspect-ratio: 1 / 1; /* Соотношение сторон 1:1 */
    height: 3.5vh; /* или фиксированная ширина */
    overflow: hidden; /* Обрезаем лишнее */
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


