<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <title>GiftsBot</title>
</head>
<body>

<div class="main">
    <div class="content">
        <h1 id="case_name">Название кейса</h1>

        <div class="case">
            <div class="window">
                <div class="line"></div>
                <div class="slide" id="slide">
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                </div>
            </div>

        </div>
        <div>
            <button id="open_case" type="button" onclick="open_case()">Открыть</button>
        </div>

        <span id="for-items">Возможные подарки:</span>
        <div class="list-items">
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
        </div>

    </div>
    <div class="slider">
        <div class="sections">
            <a href="templates/main.html">
                <div class="section active">
                    <i class="material-symbols-outlined">home</i>
                    <span class="span-sec">Главная</span>
                </div>
            </a>
            <a href="templates/cases.html">
                <div class="section">
                    <i class="material-symbols-outlined">featured_seasonal_and_gifts</i>
                    <span class="span-sec">Кейсы</span>
                </div>
            </a>
            <a href="templates/profile.html">
                <div class="section">
                    <i class="material-symbols-outlined">account_circle</i>
                    <span class="span-sec">Профиль</span>
                </div>
            </a>
        </div>
    </div>
</div>

<script src="/js/main.js"></script>

</body>
</html>
